.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
}

.TrackerBoxTitle {
  font-size: 45px;
  margin-bottom: 20px;
}

.TrackerBoxInput {
  margin-right: 20px;
  height: 25px;
  width: 200px;
  font-size: 20px;
}

.TrackerBoxButton {
  height: 25px;
  width: 50px;
  font-size: 14px;
}

.TrackBoxList {
  margin-top: 10px;
  list-style-type: none;
}

.TrackBoxListItem {
  font-size: 20px;
  font-style: italic;
}
